{% extends "Delta_HW/base.html" %}
{% block head %}<h3>Users</h3>{% endblock %}

{% block content %}
    {% if users %}
        <table style="width:95%">
            <tr>
                <th>USER ID</th>
                <th>User Name</th>
            </tr>
            {% for user in users %}
    <!--            <ul>-->
    <!--                <li><a>{{ user.scur }}</a><a>     </a><a>{{ user }}</a></li>-->
    <!--            </ul>-->
                <tr>
                    <td>{{ user.scur }}</td>
                    <td>{{ user }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>NO USERS FOUND</h2>
    {% endif %}
    <a href="create_user"><button>Add User</button></a>
{% endblock %}